html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {
    padding: 0;
    line-height: 1.5;
    background: #181a1b;
  }
  
  body .noscroll {
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .main-font {
    font-family: "Alfa Slab One", "Poppins";
    font-weight: 400;
  }
  
  .text-center {
    text-align: center;
  }
  
  .my-1 {
    margin: 1rem 0;
  }
  
  .mx-1 {
    margin: 0 0.5rem;
  }
  
  .h-100 {
    height: 100%;
  }
  
  .container {
    max-width: 1200px;
    padding: 1.5rem 1.5rem;
    margin: auto;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .text-blue {
    color: #3b82f6;
  }
  
  .text-white {
    color: white;
  }
  
  .text-grey {
    color: grey;
  }
  
  .text-dark-grey {
    color: #2e3031;
  }
  
  .bg-blue {
    background-color: #3b82f6;
  }
  
  .bg-dark-grey {
    background-color: #2e3031;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .btn,
  .btn-blue,
  .btn-dark,
  .btn-blue-outline {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  
  .btn-blue {
    color: white;
    background-color: #3b82f6;
    border: 2px solid #3b82f6;
  }
  
  .btn-dark {
    color: white;
    background-color: #181a1b;
  }
  
  .btn-blue-outline {
    color: #3b82f6;
    background-color: transparent;
    border: 2px solid #3b82f6;
  }
  
  .btn-blue:hover {
    transition: all 0.3s ease;
    background: #0b63f3;
    border: 2px solid #0b63f3;
  }
  
  .btn-blue-outline:hover {
    color: white;
    background-color: #3b82f6;
  }
  
  .btn-small {
    padding: 0.5rem 1rem;
  }
  
  #backToTopBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 0.5rem 0.9rem;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  
  #backToTopBtn.show {
    opacity: 1;
    visibility: visible;
  }
  
  .section-subtext {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

.btn-email {
    --primary: #3b82f6;
    --primary-dark: #0455d8;
    --primary-darkest: #013281;
    --shadow: rgba(0, 0, 0, 0.3);
    --text: #fff;
    --text-opacity: 1;
    --success: #3b82f6;
    --success-x: -12;
    --success-stroke: 14;
    --success-opacity: 0;
    --border-radius: 3;
    --overflow: hidden;
    --x: 0;
    --y: 0;
    --rotate: 0;
    --plane-x: 0;
    --plane-y: 0;
    --plane-opacity: 1;
    --trails: rgba(59, 130, 246, 0.15);
    --trails-stroke: 57;
    --left-wing-background: var(--primary);
    --left-wing-first-x: 0;
    --left-wing-first-y: 0;
    --left-wing-second-x: 50;
    --left-wing-second-y: 0;
    --left-wing-third-x: 0;
    --left-wing-third-y: 100;
    --left-body-background: var(--primary);
    --left-body-first-x: 51;
    --left-body-first-y: 0;
    --left-body-second-x: 51;
    --left-body-second-y: 100;
    --left-body-third-x: 0;
    --left-body-third-y: 100;
    --right-wing-background: var(--primary);
    --right-wing-first-x: 49;
    --right-wing-first-y: 0;
    --right-wing-second-x: 100;
    --right-wing-second-y: 0;
    --right-wing-third-x: 100;
    --right-wing-third-y: 100;
    --right-body-background: var(--primary);
    --right-body-first-x: 49;
    --right-body-first-y: 0;
    --right-body-second-x: 49;
    --right-body-second-y: 100;
    --right-body-third-x: 100;
    --right-body-third-y: 100;
    display: block;
    cursor: pointer;
    position: relative;
    border: 0;
    padding: 8px 0;
    min-width: 100px;
    text-align: center;
    margin: 0;
    line-height: 24px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    background: none;
    outline: none;
    color: var(--text);
    -webkit-tap-highlight-color: transparent;
  }
  
  .btn-email .plane,
  .btn-email .trails {
    pointer-events: none;
    position: absolute;
  }
  
  .btn-email .plane {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    filter: drop-shadow(0 3px 6px var(--shadow));
    transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px))
      rotate(calc(var(--rotate) * 1deg)) translateZ(0);
  }
  
  .btn-email .plane .left,
  .btn-email .plane .right {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: var(--plane-opacity);
    transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px))
      translateZ(0);
  }
  
  .btn-email .plane .left:before,
  .btn-email .plane .left:after,
  .btn-email .plane .right:before,
  .btn-email .plane .right:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: calc(var(--border-radius) * 1px);
    transform: translate(var(--part-x, 0.4%), var(--part-y, 0)) translateZ(0);
    z-index: var(--z-index, 2);
    background: var(--background, var(--left-wing-background));
    clip-path: polygon(
      calc(var(--first-x, var(--left-wing-first-x)) * 1%)
        calc(var(--first-y, var(--left-wing-first-y)) * 1%),
      calc(var(--second-x, var(--left-wing-second-x)) * 1%)
        calc(var(--second-y, var(--left-wing-second-y)) * 1%),
      calc(var(--third-x, var(--left-wing-third-x)) * 1%)
        calc(var(--third-y, var(--left-wing-third-y)) * 1%)
    );
  }
  
  .btn-email .plane .left:after {
    --part-x: -1%;
    --z-index: 1;
    --background: var(--left-body-background);
    --first-x: var(--left-body-first-x);
    --first-y: var(--left-body-first-y);
    --second-x: var(--left-body-second-x);
    --second-y: var(--left-body-second-y);
    --third-x: var(--left-body-third-x);
    --third-y: var(--left-body-third-y);
  }
  
  .btn-email .plane .right:before {
    --part-x: -1%;
    --z-index: 2;
    --background: var(--right-wing-background);
    --first-x: var(--right-wing-first-x);
    --first-y: var(--right-wing-first-y);
    --second-x: var(--right-wing-second-x);
    --second-y: var(--right-wing-second-y);
    --third-x: var(--right-wing-third-x);
    --third-y: var(--right-wing-third-y);
  }
  
  .btn-email .plane .right:after {
    --part-x: 0;
    --z-index: 1;
    --background: var(--right-body-background);
    --first-x: var(--right-body-first-x);
    --first-y: var(--right-body-first-y);
    --second-x: var(--right-body-second-x);
    --second-y: var(--right-body-second-y);
    --third-x: var(--right-body-third-x);
    --third-y: var(--right-body-third-y);
  }

.btn-email .trails {
    display: block;
    width: 33px;
    height: 64px;
    top: -4px;
    left: 16px;
    fill: none;
    stroke: var(--trails);
    stroke-linecap: round;
    stroke-width: 2;
    stroke-dasharray: 57px;
    stroke-dashoffset: calc(var(--trails-stroke) * 1px);
    transform: rotate(68deg) translateZ(0);
  }
  
  .btn-email span {
    display: block;
    position: relative;
    z-index: 4;
    opacity: var(--text-opacity);
  }
  
  .btn-email span.success {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    transform: translateX(calc(var(--success-x) * 1px)) translateZ(0);
    opacity: var(--success-opacity);
    color: var(--success);
  }
  
  .btn-email span.success svg {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    margin: 4px 8px 0 0;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 14px;
    stroke: var(--success);
    stroke-dashoffset: calc(var(--success-stroke) * 1px);
  }
  
  .blue-link-underline {
    color: #0b63f3;
    border-bottom: 1px solid #0b63f3;
  }
  
  .flex {
    display: flex;
  }
  
  .white-image {
    filter: brightness(0) invert(1);
  }
  
  @media screen and (max-width: 999px) {
    .hide-for-mobile {
      display: none;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .hide-for-desktop {
      display: none;
    }
  }
  
  header {
    background: #181a1b;
    background-size: cover;
    min-height: 80vh;
    position: relative;
  }
  
  header #particles-js {
    height: 80vh;
    position: relative;
  }
  
  header #particles-js canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  header nav {
    width: 100%;
  }
  
  header nav .nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  header nav .nav-container #logo {
    margin: auto 0;
    z-index: 10;
  }
  
  header nav .nav-container #logo img {
    width: 250px;
  }
  
  header nav .nav-container .nav-links {
    z-index: 1000;
  }
  
  header nav .nav-container .nav-links li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
  }
  
  header nav .nav-container .nav-links a {
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
  }
  
  header nav .nav-container .nav-links .link::after {
    content: "";
    position: relative;
    display: block;
    width: 0%;
    height: 2px;
    top: 3px;
    margin: auto;
    background: #3b82f6;
    transition: width 0.3s ease;
  }
  
  header nav .nav-container .nav-links .link:hover::after {
    width: 100%;
  }